extends layout
block content
    div(class="container-fluid")
        h1= title
    - var results = results
        div(class="row")
            each form,index in results
                div(class = "col-sm-2 bg-primary" onclick=`buy(${index})`) #{form.books_type}              
                div(class = "col-sm-2 bg-primary" onclick=`buy(${index})`) #{form.books_year}                
                div(class = "col-sm-2 bg-primary" onclick=`buy(${index})`) #{form.books_price}
                hr
    script.
        function buy(itemNo)
        {
            alert(`You purchased Item ${itemNo+1}`)
        }