extends layout
block content

  h1= title
  //- - let items = ['books_type','books_year','books_price']
  - let items = results;
  - let o;  
  div(class='container-fluid')
    div(class='row m-1')
      each item,index in items
        - let destination = `dispatch(\"/books/update?id=${item._id}\")`
         - let destroy = `dispatch(\"/books/delete?id=${item._id}\")`
         - let dest = `dispatch(\"/books/detail?id=${item._id}\")`
        div(class="row-sm-2", class="m-1") Item #{item.books_type}(#{item.books_year}) is #{item.books_price}
        p         
          button.btn( class="btn-success ml-1", onclick= destination) Update
        p        
          button.btn( class="btn-success ml-1", onclick= destroy) delete
        p          
          button.btn( class="btn-success ml-1", onclick= dest) detail

          
        

  script.
    function dispatch(path){
      window.location.href=path
    }
