extends layout
block content
    div(class="container-fluid")
        h1= title
    - let results=[{books_type:"thriller",books_year:"2021",books_price:60},{books_type:"love",books_year:"2023",books_price:250},{books_type:"horrer",books_year:"2019",books_price:380}]
        div(class="row")
            each form,index in results
                div(class = "col-sm-2 bg-primary" onclick=`buy(${index})`) #{form.books_type}              
                div(class = "col-sm-2 bg-primary" onclick=`buy(${index})`) #{form.books_year}                
                div(class = "col-sm-2 bg-primary" onclick=`buy(${index})`) #{form.books_price}
                hr
    script.
        function buy(itemNo)
        {
            alert(`You purchased Item ${itemNo+1}`)
        }